@import url('file:///C:/Users/denne/OneDrive/Desktop/JosephUrbina_Medp285/Week_005/dark.html')
.body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
        
}
p
{
    font-size: 10px;
    line-height: 10px;
    background: url(../images/creepy.png);
    background-attachment:;
    -webkit-background-clip:text;
    -webkit-text-fill-color:rgba(200,200,200,0.1);
}
